html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Gaegu', sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

p {
  margin: 0px;
}

#container {
  padding: 5px 30px;
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  text-align: left;
}

input {
  width: 100%;
  max-width: 500px;
  font-size: inherit;
  font-family: inherit;

  border-radius: 5px;
  border: none;
}

.w50 {
  padding: 0;
  margin: 0;
  width: 49%;
  display: inline-block;
}


/* SECTION */
.section {
  margin-left: 5px;
  width: 100%;
  margin-top: 50px;
  height: auto;
}

.section-tags {
  position: absolute;
  margin-top: -50px;
  width: auto;
  display: block;
  transition: all 0.3s;
}

.section:hover > .section-tags > .section-tag {
  opacity: 0.5;
}

.section-tag {
  display: inline-block;
  width: auto;
  font-size: 0.7rem;
  border: solid grey 3px;
  border-radius: 0px;
  padding: 0.1rem 0.35rem;
  margin: 0px 1px;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.section-tag:hover {
  opacity: 1;
}

.active-section-tag {
  opacity: 1;
}


.icon {
  color: lightgrey;
  transition: color 0.3s;
}

.icon:hover {
  color: black;
}

/* === HEADER === */
.settings {
  position: fixed;
  font-size: 2rem;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: right;
}

.settings > i {
  font-size: 3rem;
  margin: 20px 20px auto;
  font-size: 1.5rem;
}

/* === HEADING === */
#heading {
  text-align: left;
  margin: 30px auto 0px;
}

.trademark {
  font-size: 0.8rem;
  text-align: center;
}

#title {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  max-width: none;
  padding: 0px;
}

#basic-info {
  width: 100%;
  font-size: 1.0rem;
}

.conf-attribute {
  color: grey;
  width: auto;
  padding: 0px 40px;
  display: inline-block;
}

.conf-attribute>input {
  max-width: 5rem;
}

#tempo {
  width: 3rem;
  text-align: right;
}

.time-signature-input {
  text-align: right;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  display: inline-block;
}

select.time-signature-input {
  text-align: left;
  background: transparent;
  border: none;
  width: 5rem;
  appearance: none;
}



/* SHEET TABLE */
#sheet {
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
}

tr, table {
  width: 100%;
}

.bar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 72px;
  margin: 20px 0px 5px -5px;
  padding-left: 20px;

  border-style: solid;
  box-sizing: border-box;
  border-width: 0px 5px;
  border-color: lightgrey;
}

.slidein {
  animation: slidein 0.5s ease;
}

@keyframes slidein {
  from { width: 0; }
  to { width: 50%; }
}

.chord {
  width: 25%;
  /*min-width: 100px;*/
  max-width: none;
  margin: 0px;
  height: 67px;
  vertical-align: middle;
}

.chord-input {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  box-sizing: border-box;
  vertical-align: middle;
  transition: border-width 0.3s, background-color 0.3s;
  cursor: text;
  text-transform: capitalize;
}

.chord-input:hover {
  border-style: solid;
  border-width: 0px 3px;
  border-color: whitesmoke;
  background-color: none;
}

.repeat {
  display: block;
  position: absolute;
  margin-top: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: auto;
  opacity: 0;
  transition: opacity 0.4s;
}

.repeat:hover {
  opacity: 0.3;
}
.start-repeat {
  left: 0;
}
.end-repeat {
  right: 0;
}

#bar-attributes {
  display: block;
  width: 100%;
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 0.5rem;
  color: grey;
}

.goal {
  width: 70%;
  display: inline-block;
  height: auto;
  border-style: solid;
  box-sizing: border-box;
  border-width: 2px 0px 0px 2px;
  border-color: grey;
  border-radius: 0px;
}

#add-bar-inbetween, #remove-bar-inbetween {
  cursor: pointer;
}

.goal, #add-bar-inbetween, #remove-bar-inbetween {
  display: inline-block;
  margin: 0px 5px;
}

.add-bar {
  display: inline-block;
  position: relative;
  width: auto;
  top: 18px;
  left: 3rem;
  margin-left: -2rem;

  font-size: 2rem;
  height: 72px;
  text-align: left;
  border: none;
  background-color: initial;
}



/* BOTTOM BOX */
#bottom-box {
  width: 100%;
  height: 70px;
  margin-top: 50px;
  border: dotted lightgrey 2px;
  color: lightgrey;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

#add-section {
  display: inline-block;
  font-size: 1.4rem;
}

#add-section > span {
  margin-top: 10px;
  vertical-align: middle;
}

#add-section > span > i {
  font-size: 1rem;
}

#print {
  display: inline-block;
  margin-top: 13px;
  padding: 5px 50px;
  background-color: lightgrey;
  border-radius: 5px;

  font-size: 1.1rem;
  font-family: inherit;
  color: white;
  text-align: center;
}

#print-container:hover > #print {
  background-color: grey;
}
