.sheetbody {
  width: 100%;
}

.section {
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 600px;
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.bar {
  display: block;
  background: yellow;
  width: 50%;
  padding: 5px 0;
  animation: slide-in 0.5s ease-out;
  font-size: 2rem;
}

.bar:hover > .bar-controls {
  opacity: 1;
}

.bar-controls {
  display: flex;
  justify-content: stretch;
  opacity: 0;
  width: 100%;
  transition: opacity 0.2s;
}

.add-bar-inbetween,
.remove-bar {
  padding: 5px;
  background: whitesmoke;
  border-radius: 100%;
  font-size: 0.8rem;
  cursor: pointer;
}

.bar-content {
  display: flex;
  width: 100%;
}

.bar-block {
  display: flex;
  text-transform: capitalize;
}

.add-bar {
  display: flex;
  width: 100%;
  background: green;
  height: 100px;
}

.control-bar {
  margin-top: 100px;
}
