@import "variables";
@import url("https://fonts.googleapis.com/css?family=Gaegu:400,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Gaegu", "Courier New", Courier, monospace;
  font-size: 1em;

  @media (max-width: $medium) {
    font-size: 13px;
  }
}

textarea,
select,
input,
button {
  outline: none;
}

input {
  width: 100%;
  max-width: 500px;
  font-size: inherit;
  font-family: inherit;

  border-radius: 5px;
  border: none;
}

#App {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
}
