@import "variables";

.section {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  margin-top: 30px;
  padding-left: $barBorder;
  color: lightgrey;

  &:hover .section-tag {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .section-controls {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-left: -$barBorder;
    font-weight: bold;

    .section-tag {
      box-sizing: content-box;
      display: block;
      width: auto;
      height: 1.2rem;
      margin-right: 6px;
      padding: 5px 10px;
      border: solid 2px lightgrey;
      border-radius: 0;
      color: lightgrey;
      font-weight: bold;

      opacity: 0;
      visibility: hidden;
      transition-property: color, background-color, opacity;
      transition-duration: 0.3s;
      cursor: pointer;

      @media (min-width: $large) {
        &:hover {
          color: white;
          background-color: lightgrey;
        }
      }

      @media (max-width: $small) {
        margin-bottom: 2px;
      }
    }

    .section-tags {
      display: flex;
      flex-flow: row wrap;
      margin-right: 5px;

      > input {
        color: lightgrey;
        &::placeholder {
          color: lightgrey;
        }
        &:hover {
          &::placeholder {
            color: white;
          }
        }
      }

      .selected {
        color: darkgrey;
        border-color: darkgrey;
        order: -1;
        opacity: 1;
        visibility: visible;

        @media (min-width: $large) {
          &:hover {
            color: white;
            background-color: darkgrey;
          }
        }
      }
    }
    .add-remove-section {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      flex-flow: row wrap;

      > .add-section,
      .remove-section {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 1rem;
        font-size: 1.5rem;
        border: none;
        padding: 0;
        transition-property: color, opacity;
        cursor: pointer;

        &:hover {
          color: grey;
          background: none;
        }
      }
    }
  }

  .add-bar {
    display: flex;
    width: 0;
    align-items: flex-end;
    font-size: 1.5rem;
    cursor: pointer;

    @media (max-width: $medium) {
      width: auto;
    }

    .add-bar-icon {
      width: 2.5rem !important;
      height: 2.5rem;
      color: white;
      padding: 5px;
      margin: 0 0 0.2rem 1rem;
      border-radius: 100%;
      background-color: lightgrey;
      transition: 0.2s background-color;

      &:hover {
        background-color: darkgrey;
      }
    }
  }
}
