@import "variables";

.section {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-left: $barBorder;
  color: lightgrey;

  &:hover .section-tag,
  &:hover .section-config {
    opacity: 1 !important;
  }

  @media (max-width: $small) {
    &:hover .section-controls {
      max-height: 5rem;
    }
  }

  .section-controls {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    align-items: center;
    width: calc(100% + #{$barBorder});
    height: auto;
    margin-left: -$barBorder;
    font-weight: bold;

    transition: max-width 0.2s;

    @media (max-width: $small) {
      max-height: calc(1.6rem + 8px);
      overflow: hidden;
    }

    .section-tag {
      box-sizing: content-box;
      display: block;
      width: auto;
      height: 1.2rem;
      margin-right: 0.3rem;
      padding: 0.3rem 0.6rem;
      border: solid 2px lightgrey;
      border-radius: 0;
      font-size: 1rem;
      color: lightgrey;
      font-weight: bold;

      opacity: 0;
      transition-property: color, background-color, opacity;
      transition-duration: 0.2s;
      cursor: pointer;

      &::placeholder {
        color: lightgrey;
      }

      &:hover {
        color: white;
        background-color: lightgrey;

        &::placeholder {
          color: white;
        }
      }

      @media (max-width: $small) {
        margin-bottom: 2px;
      }
    }

    .selected {
      color: darkgrey;
      border-color: darkgrey;
      order: -1;
      opacity: 1;

      @media (min-width: $large) {
        &:hover {
          color: white;
          background-color: darkgrey;
        }
      }
    }

    .section-config {
      display: grid;
      grid-template-columns: 1fr auto auto;
      width: auto;
      height: 100%;
      margin-left: auto;

      opacity: 0;
      transition-property: color, background-color, opacity;
      transition-duration: 0.2s;

      .chords-per-bar {
        display: flex;
        flex-direction: row;

        .chords-per-bar-input {
          width: 4rem;
          text-align: right;
        }
      }

      > .add-section,
      .remove-section {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 1rem;
        font-size: 1.5rem;
        border: none;
        padding: 0;
        transition-property: color, opacity;
        cursor: pointer;

        &:hover {
          color: grey;
          background: none;
        }
      }
    }
  }

  .bars {
    display: grid;
    grid-template-rows: auto;
    width: 100%;

    .add-bar {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      width: 0;
      align-items: flex-end;
      font-size: 1.5rem;
      cursor: pointer;

      @media (max-width: $medium) {
        width: auto;
      }

      .add-bar-icon {
        width: 2.5rem !important;
        height: 2.5rem;
        color: white;
        padding: 5px;
        margin: 0 0 0.2rem 1rem;
        border-radius: 100%;
        background-color: lightgrey;
        transition: 0.2s background-color;
        @media (max-width: $medium) {
          transform: translateX(43%);
          margin-left: 0;
          border: solid 2px white;
        }

        &:hover {
          background-color: darkgrey;
        }
      }
    }
  }
}
