.container {
  margin: 20px 0;
}

.settings {
  position: fixed;
  font-size: 2rem;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: right;

  i {
    font-size: 3rem;
    margin: 20px 20px auto;
    font-size: 1.5rem;
  }
}

.trademark {
  font-size: 0.8rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  max-width: none;
  padding: 0px;
  margin: 10px auto;
}

.basic-info {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem;

  > * {
    margin: 0 5%;
    color: grey;
    width: auto;
    display: inline-block;

    input {
      width: 3.5rem;
    }
  }
}

.tempo {
  text-align: right;
  width: 2rem;
}

.time-signature-input {
  width: 2rem;
  text-align: right;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  display: inline-block;
}

select.time-signature-input {
  width: 2rem;
  margin-left: 10px;
  text-align: right;
  background: transparent;
  border: none;
  appearance: none;
}
