$barFontSize: 1.3rem;
$barBorder: 0.3rem;
$barControlHeight: 0.8rem;

$small: 768px;
$medium: 950px;
$large: 1050px;

/* === ANIMATIONS === */

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
